.listing-img-container {
  max-width: 12rem;
  position: relative;
}

.card-wishlist-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 14px;
  z-index: 2;
  cursor: pointer;
}

.card-dark-overlay {
  background: linear-gradient(
    45deg,
    rgba(119, 171, 252, 0) 70%,
    rgba(0, 0, 0, 0.5) 100%
  );
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all 0.4s;
}

.card-dark-overlay:hover {
  background: linear-gradient(
    45deg,
    rgba(255, 254, 254, 0) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

.listing-card-details {
  margin-top: 8px;
}

.listing-img {
  max-width: 100%;
}

.card-action-btn {
  padding: 0.35rem 0.75rem;
  background-color: var(--secondary-color);
  color: var(--color-white);
  margin-top: 0.4rem;
}
