.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  background-color: var(--off-black);
}

.nav-left-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.browse-btn {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-white);
  opacity: 0.8;
}

.browse-btn:hover {
  opacity: 1;
}

.nav-brand {
  font-size: 1.2rem;
  font-weight: 600;
}

.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-item-link {
  font-size: 14px;
  color: var(--text-white);
}

.nav-signin-btn {
  background-color: var(--secondary-color);
  padding: 1.6rem 1.4rem;
}

.nav-signout-btn {
  background-color: var(--color-danger);
  padding: 1.6rem 1.4rem;
  cursor: pointer;
}

.nav-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--search-input-color);
  padding: 4px;
  border-radius: 999rem;
}

.nav-search-input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding-left: 2px;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .nav-search-container {
    display: none;
  }
}
