@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary-body-bg: #121212;
  --text-white:#ffffff;
}

html {
  font-size: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--primary-body-bg);
  color: var(--text-white);
}


/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 65%;
  }
}
